<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digital.dao.cazc.CivilAffairDataMapper">

	<!-- 影片详情
	<resultMap type="com.digital.cazc.entity.CivilAffairDataUpload" id="civilAffairZoningCode">
		<id column="zipXh" property="zipXh" />
		<result column="xzqh_dm" property="zoningCode" />
		<result column="xzqh_mc" property="zoningName" />
		<result column="sj_xzqh_dm" property="superiorZoningCode" />
		<result column="jcdm" property="assigningCode" />
		<result column="lrsj" property="enterTime" />
		<result column="lrr_dm" property="enterOneCode" />
	</resultMap>
   -->
	<!-- 将民政区划的数据插入到数据库中 -->
	<insert id="insertCivilAffairZip"  parameterType="com.digital.entity.cazc.CivilAffairDataUpload">
		INSERT INTO xzqh_mzsjzip (
				zipXh,
				wjm,
				wjlj,
				zt_dm,
				rq,
				bz,
				lrr_dm,
				lrsj,
				lrjg_dm
	    )
		VALUES
			(
			#{zipXh,jdbcType=INTEGER},
			#{fileName,jdbcType=VARCHAR},
			#{filePath,jdbcType=VARCHAR},
			#{status,jdbcType=INTEGER},
			#{date,jdbcType=VARCHAR},
			#{comment,jdbcType=VARCHAR},
			#{enterOneCode,jdbcType=VARCHAR},
			#{enterTime,jdbcType=VARCHAR},
			#{organizationCde,jdbcType=VARCHAR}
			)
	</insert>

	<!-- 将民政区划的数据插入到数据库中 -->
	<insert id="insertCivilAffairDate"  parameterType="list">
		INSERT INTO  XZQH_MZSJ(
				zipXh,
				xzqh_dm,
				xzqh_mc,
				jcdm,
				sj_xzqh_dm,
				lrsj
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.zipXh,jdbcType=INTEGER},
			#{item.zoningCode,jdbcType=VARCHAR},
			#{item.zoningName,jdbcType=VARCHAR},
			#{item.assigningCode,jdbcType=VARCHAR},
			#{item.superiorZoningCode,jdbcType=VARCHAR},
			#{item.enterTime,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>


	<select id="selectCYDate" parameterType="String" resultType="java.util.HashMap">
         select a.XZQH_DM y_xzqh_dm,
                a.xzqh_mc y_xzqh_mc,
                b.xzqh_dm m_xzqh_dm,
                b.xzqh_mc m_xzqh_mc
            from dm_xzqh_ylsj a,xzqh_mzsj b
		 <where>
			<!-- 代码相同，名称相同-->
            <if test="id == 1">
              and  a.XZQH_DM=b.xzqh_dm and a.XZQH_MC=b.xzqh_mc
			</if>
			<!-- 代码相同，名称不同-->
			<if test="id == 2">
				and  a.XZQH_DM = b.xzqh_dm and a.XZQH_MC != b.xzqh_mc
			</if>
			<!-- 代码不同，名称相同同-->
			<if test="id == 3">
				and  a.XZQH_DM != b.xzqh_dm and a.XZQH_MC = b.xzqh_mc
			</if>
			<!-- 行政区划有值，民政区划为空
			<if test="lx_num == 4">
				and  a.XZQH_DM != b.xzqh_dm and a.XZQH_MC != b.xzqh_mc and
			</if>
			-->
		 </where>
	</select>

</mapper>