<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.digital.entity'>
    <resultMap id='allOfFormalTableInfo' type='com.digital.entity.FormalTableInfo'>
        <id property='uniqueKey' javaType='String' column='UNIQUE_KEY'/>
        <result property='zoningCode' javaType='String' column='XZQH_DM'/>
        <result property='divisionName' javaType='String' column='XZQH_MC'/>
        <result property='divisionAbbreviation' javaType='String' column='XZQH_JC'/>
        <result property='divisionFullName' javaType='String' column='XZQH_QC'/>
        <result property='assigningCode' javaType='String' column='JCDM'/>
        <result property='levelCode' javaType='String' column='JBDM'/>
        <result property='superiorZoningCode' javaType='String' column='SJ_XZQH_DM'/>
        <result property='chooseSign' javaType='String' column='XYBZ'/>
        <result property='usefulSign' javaType='String' column='YXBZ'/>
        <result property='subordinateRelations' javaType='String' column='DWLSGX_DM'/>
        <result property='validityStart' javaType='String' column='YXQ_Q'/>
        <result property='validityStup' javaType='String' column='YXQ_Z'/>
        <result property='virtualNode' javaType='String' column='XNJD_BZ'/>
        <result property='oldZoningCode' javaType='String' column='OLD_XZQH_DM'/>
        <result property='accessCode' javaType='String' column='QX_JGDM'/>
        <result property='enterOneCode' javaType='String' column='LRR_DM'/>
        <result property='createDate' javaType='String' column='LRSJ'/>
        <result property='updaterCode' javaType='String' column='XGR_DM'/>
        <result property='lastUpdate' javaType='String' column='XGSJ'/>
        <result property='type' javaType='String' column='XZQHLX_DM'/>
    </resultMap>
    <resultMap id='allOfHistoricalDataInfo' type='com.digital.entity.HistoricalDataInfo'>
        <id property='index' javaType='Integer' column='ID'/>
        <result property='uniqueKey' javaType='String' column='UNIQUE_KEY'/>
        <result property='zoningCode' javaType='String' column='XZQH_DM'/>
        <result property='divisionName' javaType='String' column='XZQH_MC'/>
        <result property='divisionAbbreviation' javaType='String' column='XZQH_JC'/>
        <result property='divisionFullName' javaType='String' column='XZQH_QC'/>
        <result property='assigningCode' javaType='String' column='JCDM'/>
        <result property='levelCode' javaType='String' column='JBDM'/>
        <result property='superiorZoningCode' javaType='String' column='SJ_XZQH_DM'/>
        <result property='subordinateRelations' javaType='String' column='DWLSGX_DM'/>
        <result property='virtualNode' javaType='String' column='XNJD_BZ'/>
        <result property='oldZoningCode' javaType='String' column='OLD_XZQH_DM'/>
        <result property='accessCode' javaType='String' column='QX_JGDM'/>
        <result property='enterOneCode' javaType='String' column='LRR_DM'/>
        <result property='createDate' javaType='String' column='LRSJ'/>
        <result property='updaterCode' javaType='String' column='XGR_DM'/>
        <result property='lastUpdate' javaType='String' column='XGSJ'/>
        <result property='type' javaType='String' column='XZQHLX_DM'/>
        <result property='version' javaType='Integer' column='VERSION'/>
    </resultMap>
    <resultMap id='allOfHistoricalZoningChange' type='com.digital.entity.HistoricalZoningChange'>
        <id property='seq' javaType='Integer' column='MXBXH'/>
        <result property='groupSeq' javaType='Integer' column='GROUPXH'/>
        <result property='originalZoningCode' javaType='String' column='YSXZQH_DM'/>
        <result property='originalZoningName' javaType='String' column='YSXZQH_MC'/>
        <result property='targetZoningCode' javaType='String' column='MBXZQH_DM'/>
        <result property='targetZoningName' javaType='String' column='MBXZQH_MC'/>
        <result property='changeType' javaType='String' column='BGLX_DM'/>
        <result property='creatorCode' javaType='String' column='LRR_DM'/>
        <result property='createDate' javaType='String' column='LRSJ'/>
    </resultMap>
    <resultMap id='allOfPreviewDataInfo' type='com.digital.entity.PreviewDataInfo'>
        <id property='index' javaType='Integer' column='ID'/>
        <result property='uniqueKey' javaType='String' column='UNIQUE_KEY'/>
        <result property='zoningCode' javaType='String' column='XZQH_DM'/>
        <result property='divisionName' javaType='String' column='XZQH_MC'/>
        <result property='divisionAbbreviation' javaType='String' column='XZQH_JC'/>
        <result property='divisionFullName' javaType='String' column='XZQH_QC'/>
        <result property='assigningCode' javaType='String' column='JCDM'/>
        <result property='levelCode' javaType='String' column='JBDM'/>
        <result property='superiorZoningCode' javaType='String' column='SJ_XZQH_DM'/>
        <result property='chooseSign' javaType='String' column='XYBZ'/>
        <result property='usefulSign' javaType='String' column='YXBZ'/>
        <result property='subordinateRelations' javaType='String' column='DWLSGX_DM'/>
        <result property='validityStart' javaType='String' column='YXQ_Q'/>
        <result property='validityStup' javaType='String' column='YXQ_Z'/>
        <result property='virtualNode' javaType='String' column='XNJD_BZ'/>
        <result property='oldZoningCode' javaType='String' column='OLD_XZQH_DM'/>
        <result property='accessCode' javaType='String' column='QX_JGDM'/>
        <result property='enterOneCode' javaType='String' column='LRR_DM'/>
        <result property='createDate' javaType='String' column='LRSJ'/>
        <result property='updaterCode' javaType='String' column='XGR_DM'/>
        <result property='lastUpdate' javaType='String' column='XGSJ'/>
        <result property='type' javaType='String' column='XZQHLX_DM'/>
    </resultMap>
    <resultMap id='allOfZCCDetail' type='com.digital.entity.ZCCDetail'>
        <id property='seq' javaType='Integer' column='MXBXH'/>
        <result property='groupSeq' javaType='Integer' column='GROUPXH'/>
        <result property='originalZoningCode' javaType='String' column='YSXZQH_DM'/>
        <result property='originalZoningName' javaType='String' column='YSXZQH_MC'/>
        <result property='changeType' javaType='String' column='BGLX_DM'/>
        <result property='currentZoningCode' javaType='String' column='MBXZQH_DM'/>
        <result property='currentZoningName' javaType='String' column='MBXZQH_MC'/>
        <result property='status' javaType='String' column='CLZT_DM'/>
        <result property='result' javaType='String' column='CLJG'/>
        <result property='notes' javaType='String' column='BZ'/>
        <result property='creatorCode' javaType='String' column='LRR_DM'/>
        <result property='creatorDate' javaType='String' column='LRSJ'/>
        <result property='creatorDeptCode' javaType='String' column='LRJG_DM'/>
        <result property='updaterCode' javaType='String' column='XGR_DM'/>
        <result property='lastUpdate' javaType='String' column='XGSJ'/>
        <result property='updaterDeptCode' javaType='String' column='XGJG_DM'/>
        <result property='orderNum' javaType='Integer' column='PXH'/>
        <result property='ringFlag' javaType='Integer' column='RINGFLAG'/>
    </resultMap>
    <resultMap id='allOfZCCGroup' type='com.digital.entity.ZCCGroup'>
        <id property='seq' javaType='Integer' column='GROUPXH'/>
        <result property='serialNumber' javaType='Long' column='BH'/>
        <result property='name' javaType='String' column='GROUPMC'/>
        <result property='creatorCode' javaType='String' column='LRR_DM'/>
        <result property='createDate' javaType='String' column='LRSJ'/>
        <result property='creatorDeptCode' javaType='String' column='LRJG_DM'/>
        <result property='requestSeq' javaType='Integer' column='SQDXH'/>
        <result property='orderNum' javaType='String' column='PXH'/>
    </resultMap>
    <resultMap id='allOfZCCRequest' type='com.digital.entity.ZCCRequest'>
        <id property='seq' javaType='Integer' column='SQDXH'/>
        <result property='name' javaType='String' column='SQDMC'/>
        <result property='status' javaType='String' column='SQDZT_DM'/>
        <result property='levelCode' javaType='String' column='SBXZQH_DM'/>
        <result property='zoningName' javaType='String' column='ZONING_NAME'/>
        <result property='creatorCode' javaType='String' column='LRR_DM'/>
        <result property='createDate' javaType='String' column='LRSJ'/>
        <result property='creatorDeptCode' javaType='String' column='LRJG_DM'/>
        <result property='updaterCode' javaType='String' column='XGR_DM'/>
        <result property='lastUpdate' javaType='String' column='XGSJ'/>
        <result property='updaterDeptCode' javaType='String' column='XGJG_DM'/>
        <result property='approvalOpinion' javaType='String' column='SPYJ'/>
        <result property='verifierCode' javaType='String' column='SPR_DM'/>
        <result property='notes' javaType='String' column='BZ'/>
    </resultMap>
</mapper>